body {
  background-color: rgb(33, 0, 77);
}

.content-project {
  width: 100%;
  text-align: center;
}

.project {
  background: white;
  border: solid 2px blueviolet;
  border-radius: 100%;
  text-align: center;
  width: 30px;
  height: 30px;
}

.subproject {
  background: white;
  border: solid 2px blueviolet;
  /* border-radius: 100%; */
  text-align: center;
  margin: 10px;
  width: 70px;
  height: 70px;
  margin-left: 15%;
}
