body {
  background-color: rgb(33, 0, 77);
}

.content-project {
  width: 100%;
  text-align: center;
}

.project {
  background: white;
  border: solid 3px blueviolet;
  background-color: blueviolet;
  border-radius: 100%;
  color: white;
  text-align: center;
  font-size: 35px;
  width: 60px;
  height: 60px;
}

.subproject {
  background: white;
  border: solid 3px blueviolet;
  background-color: blueviolet;
  text-align: center;
  line-height: 60px;
  color: white;
  margin: 10px;
  width: 70px;
  height: 70px;
  margin-left: 15%;
}
